<html>
<head>
  <title>Places I Have Been</title>
</head>
<body>
  <div class="container">
    <h1>You created an entry!</h1>
        <p>{{ newcity.getCity }}</p>
        <p><a href='/'>View your list of Cities.</a></p>
  </div>
</body>
</html>
